{% extends 'layout.html' %} {% block body %}
<h3>{{book.title}}</h3>
<h4>Author: {{book.author}}, Release Year: {{book.year}}</h4>
<h4>Average Rating: {{book.average_rating}}</h4>
<h3>Reviews:</h3>
{% for book_review in book.reviews %}
<h4>{{ book_review }}</h4>
{% endfor %}
<form method="POST" action="">
  <div class="form-group">
    <input type="number" name="rating" placeholder="Enter Rating" />
  </div>
  <div class="form-group">
    <input type="text" name="review" placeholder="Enter Review" />
  </div>

  <p><input type="submit" class="btn btn-primary" value="Submit" /></p>
</form>
{% endblock %}
